@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&family=Teko:wght@700&display=swap');

body {
    font-family: 'Teko', sans-serif;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

button, form {
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 15px;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
}

h1 {
    text-align: center;
    font-size: 150%;
}

span {
    font-size: 400%;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#result {
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
}
