@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Roboto:wght@100;900&family=Teko:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Major Mono Display', monospace;
    background-color: #252525;
    color: white;
}

#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#imageContainer {
    display: flex;
    justify-content: space-evenly;
    padding: 70px;
}

.profile-text {
    text-align: left;
}

.profile-image {
    max-width: 50%;
}

.icons {
    float: left;
}

img {
    max-width: 50%;
    float: right;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    #profile {
        flex-direction: row;
    }

    #imageContainer {
        flex-direction: row;
    }

    .profile-text {
        text-align: left;
        margin-top: 0;
        margin-left: 20px;
    }

    .profile-image {
        max-width: 50%;
    }

    .icons {
        margin-top: 0;
    }
}